@use '../custom' as *;
@use '../components/mixins' as *;

.btn-rounded{
    .btn-icon{
        background-color: $primary;
    }
    &:hover{
        @include gradient;
        border: none;
        outline: 0.031rem solid $white !important;
        color: $white;
        .btn-icon{
            background-color:$teal;
        }
    }
}