/* import poppins font  */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500;600;800;900&display=swap');

*{
    box-sizing: border-box; 
    -webkit-box-sizing: border-box;
    -ms-box-sizing: border-box;
    -moz-box-sizing: border-box;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
     overflow-x: hidden; 
}

body{
    margin: 0;
    width: 100vw; 
    font-family: 'Poppins', sans-serif;

 
} 
